@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
.icon {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-left: -75px; }

#resume {
  background-color: #3f3f3f;
  height: auto;
  font-family: "Roboto Condensed", sans-serif;
  color: #a4a4a4; }
  #resume .resume-container {
    width: 50%;
    margin: 0 auto; }
  #resume .header {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    color: #dcdcdc; }
  #resume .resume-tagline {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cec8c8;
    color: #7080d0; }
  #resume .content {
    margin-bottom: 25px; }
    #resume .content .resume-row {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #resume .content .resume-row .company-name {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        letter-spacing: .5px;
        color: #dcdcdc; }
      #resume .content .resume-row .resume-info {
        display: flex;
        flex-direction: column; }
        #resume .content .resume-row .resume-info .company-tag {
          display: flex;
          justify-content: space-between;
          color: #a4a4a4;
          font-family: "Open Sans", sans-serif; }
        #resume .content .resume-row .resume-info .resume-text {
          margin: 20px 0px 20px 0px;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          letter-spacing: 0.5px; }
      #resume .content .resume-row .beauty-logo {
        background-image: url("../img/companies/beauty.png");
        width: 65px;
        height: 65px; }
      #resume .content .resume-row .company-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        background-color: #eee;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: -75px; }
        #resume .content .resume-row .company-logo .beauty-icon {
          height: 15px;
          width: 60px; }
    #resume .content .skills-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start; }
      #resume .content .skills-row .skill {
        text-transform: uppercase;
        border-radius: 8px;
        padding: 7px 15px;
        border: 1px solid #8c8f92;
        float: left;
        letter-spacing: .7px;
        margin: 3px; }

@media screen and (max-width: 768px) {
  #resume {
    padding: 30px 0;
    font-size: 12px; }
    #resume .resume-container {
      width: 90%; }
    #resume .resume-info {
      font-size: 12px;
      font-family: "Open Sans", sans-serif; }
      #resume .resume-info .resume-text {
        font-family: "Open Sans", sans-serif;
        margin-top: 5px; }
      #resume .resume-info .company-tag {
        flex-wrap: wrap; }
    #resume .company-logo {
      display: none !important; }
    #resume .icon {
      display: none !important; } }

/*# sourceMappingURL=resume.css.map */
