@import './variables';

#about {
  font-family: $defaultFont;
  background-color: #f5f5f5;
  .inner-header {
    font-family: $ralewayFont;
    text-align: center;
    color: #6441a4;
  }
  .terminal-header {
    background: $lightGrey;
    width: 100%;
    border-radius: 10px 10px 0 0;
    float: left;
    height: 25px;
    display: flex;
    align-items: center;
    .header-button {
      margin-left: 9px;
      .red {
        border-radius: 50%;
        border: 1px solid #f65549;
        background-color: #f96256;
        height: 12px;
        width: 12px;
      }
      .yellow {
        border-radius: 50%;
        border: 1px solid #ffb524;
        background-color: #fdbc3d;
        height: 12px;
        width: 12px;
      }
      .green {
        border-radius: 50%;
        border: 1px solid #2dbb41;
        background-color: #33c948;
        height: 12px;
        width: 12px;
      }
    }
  }
  .terminal {
    background-color: #383737;
    color: #abb2bf;
    height: auto;
    margin-top: 20px;
    padding: 50px;
    font-family: 'Monaco', 'Courier New';
    border-radius: 5px;
    box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
    .terminal-link {
      color: $blue ;
    }
    p {
      font-size: 13px;
    }
    .props {
      color: #e7d184;
    }
    .obj-props {
      margin-left: 20px;
      p {
        margin: 0;
      }
      .fullName {
        margin-left: 20px;
      }
    }
    .string {
      color: $green;
    }
    .link {
      color: $purple;
    }
    .red {
      color: $red;
    }
    .blue {
      color: $blue;
    }
  }
}

@media screen and (max-width: 768px) {
  #about  {
    .terminal {
      padding: 25px;
      p {
        font-size: 11px;
      }
    }
    .object {
      font-size: 11px;
    }
  }
}
