@import './variables';

.icon {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-left: -75px;
}

#resume {
  background-color: #3f3f3f;
  height: auto;
  font-family: $robotoFont;
  color: #a4a4a4;
  .resume-container {
    width: 50%;
    margin: 0 auto;
  }
  .header {
    text-align: center;
    font-family: $oswaldFont;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    color: #dcdcdc;
  }
  .resume-tagline {
    font-family: $robotoFont;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-bottom: 1px solid $lightestGrey;
    color: #7080d0;
  }
  .content {
    margin-bottom: 25px;
    .resume-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      .company-name {
        font-family: $defaultFont;
        font-size: 16px;
        letter-spacing: .5px;
        color: #dcdcdc;
      }
      .resume-info {
        display: flex;
        flex-direction: column;
        .company-tag {
          display: flex;
          justify-content: space-between;
          color: #a4a4a4;
          font-family: $defaultFont;
        }
        .resume-text {
          margin: 20px 0px 20px 0px;
          font-family: $defaultFont;
          font-weight: 300;
          letter-spacing: .5px
        }
      }
      .beauty-logo {
        background-image: url('../img/companies/beauty.png');
        width: 65px;
        height: 65px;
      }
      .company-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        background-color: #eee;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: -75px;
        .beauty-icon {
          height: 15px;
          width: 60px;
        }
      }
    }
    .skills-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      .skill {
        text-transform: uppercase;
        border-radius: 8px;
        padding: 7px 15px;
        border: 1px solid #8c8f92;
        float: left;
        letter-spacing: .7px;
        margin: 3px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #resume {
    padding: 30px 0;
    font-size: 12px;
    .resume-container {
      width: 90%;
    }
    .resume-info {
      font-size: 12px;
      font-family: $defaultFont;
      .resume-text {
        font-family: $defaultFont;
        margin-top: 5px;
      }
      .company-tag {
        flex-wrap: wrap;
      }
    }
    .company-logo {
      display: none !important;
    }
    .icon {
      display: none !important;
    }
  }
}
  // #resume .inner .header {
  //   padding-bottom: 25px;
  // }
  // #resume .inner .resume-tagline {
  //   padding-bottom: 25px;
  // }
  // #resume .inner .work .company-tagline {
  //   font-size: 12px;
  // }
  // #resume .resume-info {
  //   font-size: 12px;
  // }
  // #resume .inner {
  //   width: 70%;
  //   margin-left: 70px;
  // }
  // .resume-info p {
  //   font-size: 11px;
  //   margin-bottom: 0px;
  // }
  // #resume .inner .skill {
  //   padding: 4px 12px;
  // }
// }
