// Variables

$theme-primary: #F05F40;
$theme-dark: #222;
$oswaldFont: 'Oswald', sans-serif;
$defaultFont: 'Open Sans', sans-serif;

//Colors
$white: #ffffff;
$black: #000000;
$lightestGrey: #cec8c8;
$lightGrey: #dedede;
$lilacGrey: #9896A4;
$orange: #F05F40;
$green: #90ae84;
$purple: #b77abd;
$red: #e06c75;
$blue: #61afef;
